body {
  box-sizing: inherit;
  margin-top: 0;
}

.left-sidebar {
  border-right:1px solid;
  box-sizing: border-box;
  flex-shrink: 0;
  padding-top:24px;
  position: sticky;
  width:164px;
}

.content {
  box-sizing: border-box;
  max-width: 1100px;
  padding: 24px;
  width: calc(100% - 164px);
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  background: none;
  border: 0;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1264px;
  padding: 0;
  vertical-align: baseline;
  width: 100%;
}